.footer{
   color: #fff;
    background-color: #002D6E;
    
    
}
.footer-ul{
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding-top: 40px;
}

.footer-li a{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

}
.footer-li{
    list-style: none;
    padding-top: 20px;
}
.row{
    display: flex;
    width: 80%;
    justify-content: space-around;
    // padding-right: 150px;
}

.footer-row{
    width: 100%;
    display: flex;
}
.second{
    display: flex;
    width: 90%;
    justify-content: center;
    border-top: 1px solid;
    
}
.second-p{
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.second-p-inside{
    display: flex;
    width: 72%;
    justify-content: flex-start;
}
.second-icons{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
.second-icons-inside{
    display: flex;
    width: 60%;
    justify-content: space-around;
}