.footer--medium{
    color: #fff;
    background-color: #002D6E;
   
    
}
.pad{
    padding: 30px 0px;
}

.footer--small{
    color: #fff;
    background-color: #002D6E;
    max-width: 900px;
    // max-height: 324px;
}

.footer-ul{
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin-top: 40px;
    padding-left: 14px;
    margin-left: 14px;
    border-left: 1px solid #FFFFFF1A;
}
.footer-ul:first-child{
    border: none;
}

.footer-li a{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

}
.footer-li{
    list-style: none;
    padding-top: 20px;
}


.footer-row{
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 180px 180px 180px 180px;
    padding-left: 40px;
}
.second{
    display: flex;
    justify-content: center;
    padding-bottom: 28px;

}

.line{
    display: flex;
    width: 100%;
    justify-content: center;
}
.line-in{
    border-bottom: 1px solid #FFFFFF1A;
    display: flex;
    width: 90%;
}
.second-p{
    display: flex;
    width: 60%;
    justify-content: flex-start;
}
.second-p-inside{
    display: flex;
    width: 72%;
    justify-content: flex-start;
}
.second-icons{
    display: flex;
    width: 30%;
    justify-content: flex-end;
}
.second-icons-inside{
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.footer--mobile--large{
    color: #fff;
    background-color: #002D6E;
    max-width: 375px;
    max-height: 556px;

    .row{ 
        display: grid;
        grid-template-columns: 150px 150px
    }
    .footer-ul {
        border: none;
    }
    .second{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-left: 1px;
        padding-bottom: 30px;

    }
    .second-p{
        display: flex;
        width: 88%;
        justify-content: flex-start;
    }
    .footer-row{
        width: 100%;
        display: grid;
        gap: 20px;
        grid-template-columns: 180px 180px 180px 180px;
        padding-left: 1px;
    }
    .second-icons{
        display: flex;
        width: 90%;
        justify-content: flex-start;
    }
}
