.ModalPage {
  h2 {
    margin-bottom: 25px;
  }
  
}

.collum {
  display: flex;
  flex-direction: column;
  color: black;

  p {
    font-size: 16px;
    margin: 5px 0px 5px 30px;
    padding: 0px;
  }
  h3 {
    margin: 20px 0px 5px 30px;

  }
} 
.flex {
  display: flex;
}

.img img {
  margin-top: 20px;
} 