.typography-page{
    display: flex;
    width: 100%;
    flex-direction: column;

}
.typography{
    p{
        font-family: 'Rubik';
        font-size: 40px;
        font-weight: 500;
        line-height: 64px;
    }
}
.block-one{
    display: flex;
    width: 100%;
    .block-one-inside{
        .m0{
            margin-top: 0;
        }
        p{
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
        }
    }
    .block-one-inside-second{
        display: flex;
        height: 80%;
        justify-content: space-around;
        
        .left-block{
            display: flex;
            width: 30%;
            height: 20%;
            justify-content: flex-start;
            flex-direction: column;
            
        }
        .center-block{
            display: flex;
            width: 30%;
            justify-content: flex-start;
            
            flex-direction: column;
            
        }
        .right-block{
            display: flex;
            width: 30%;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
        }
    }
}
.block-two{
    display: flex;
    width: 100%;
    flex-direction: column;

    .title{
        font-size: 24px;
        // font-weight: 700;
        line-height: 32px;
    }
}
.block-two-inside{
    display: flex;
    width: 70%;
    justify-content: flex-start;
}
.zagolovki{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;

    
    
    .h1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ;
    }
    .h2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ;
    }
    .h3{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ;
    }
    .h3-large{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ;
    }
    .h4{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ;
    }
    .h4-large{
        display: flex;
        justify-content: space-between;
        align-items: center; 
        ;
    }
}
.block-three{
    display: flex;
    width: 100%;
    flex-direction: column;

    .row-one{
        display: flex;
        width: 48%;
        justify-content: space-around;

        .small{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            color: #6B7A99;
        }
        .large{
            width: 242px;
            height: 72px;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
        }
    }
    .row-two{
        display: flex;
        width: 48%;
        justify-content: space-around;
        
        .small{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            color: #6B7A99;
        }
        .large{
            width: 242px;
            height: 72px;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
        }
    }
    .row-three{
        display: flex;
        width: 80%;
        justify-content: space-around;

        .small{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            color: #6B7A99;
        }
        .x-large_1{
            width: 242px;
            height: 112px;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
        }
        .x-large_2{
            width: 242px;
            height: 112px;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
        }
    }
    .row-four{
        display: flex;
        width: 80%;
        justify-content: space-around;

        .small{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            color: #6B7A99;
        }
        .caption-large{
            width: 242px;
            height: 72px;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
        }
        .caption-large-2{
            width: 242px;
            height: 72px;
            font-weight: 500;
            font-size: 19px;
            line-height: 24px;
        }
    }
    .row-five{
        display: flex;
        width: 80%;
        justify-content: space-around;

        .small{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            color: #6B7A99;
        }
        .caption-medium-1{
            width: 242px;
            height: 72px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
        .caption-medium-2{
            width: 242px;
            height: 72px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
        
    }
    .row-six{
        display: flex;
        width: 80%;
        justify-content: space-around;

        .small{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            color: #6B7A99;
        }
        .caption-small-1{
            width: 242px;
            height: 72px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
        }
        .caption-small-2{
            width: 242px;
            height: 60px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }
        
    }
    .row-seven{
        display: flex;
        width: 80%;
        justify-content: space-around;

        .small{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            color: #6B7A99;
        }
        .caption-x-small-1{
            width: 242px;
            height: 36px;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
        }
        .caption-x-small-2{
            width: 242px;
            height: 36px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }

    }

}
.block-four{
    display: flex;
    width: 100%;
    flex-direction: column;

    .block-strings{
        display: flex;
        width: 100%;
        // border: 1px solid red;
        flex-direction: column;
        justify-content: flex-start;

        .one-strings{
            display: flex;
            width: 90%;
            justify-content: space-around;
            
         
            .text{
                display: flex;
                flex-direction: column;
                
                .text-second{
                    p{
                        display: flex;
                        width: 30%;
                       
                    }
                }
            }

        }
        .two-strings{
            display: flex;
            width: 69%;
            justify-content: space-around;
            
         
            .text{
                display: flex;
                flex-direction: column;

                .text-second{
                    p{
                        display: flex;
                        width: 55%; 
                    }
                }
            }
        }
        .three-strings{
            display: flex;
            width: 99%;
            justify-content: space-around;
            
         
            .text{
                display: flex;
                width: 88%;
                flex-direction: column;

                .text-second{
                    p{
                        display: flex;
                        width: 65%; 
                    }
                }
            }
        }
        .four-strings{
            display: flex;
            width: 95%;
            justify-content: space-around;
            
         
            .text{
                display: flex;
                width: 88%;
                flex-direction: column;

               
            }
        }
        .five-strings{
            display: flex;
            width: 95%;
            justify-content: space-around;
            
         
            .text{
                display: flex;
                width: 88%;
                flex-direction: column;
                .text-second{
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.block-five{
    display: flex;
    width: 100%;
    flex-direction: column;
    .p-h2{
        display: flex;
        flex-direction: column;
        margin: 0%;
        width: 55%;
        p{
            margin: 0%;
        }
    }
    .images{
        display: flex;
        width: 90%;
        padding-top: 40px;
        justify-content: space-around;
        img{
            // display: flex;
            // display: flex;
            // justify-content: space-around;
            width: 45%;
            height: 60%;
        }
    }
}
.block-six{
    display: flex;
    width: 100%;
    padding-top: 150px;
    flex-direction: column;

    .sizes-block{
        display: flex;
       
        width: 99%;
        // justify-content: space-around;
        img{
            width: 100%;
            height: auto;
        }
    }
}