.typography-page{
    display: flex;
    width: 100%;
    flex-direction: column;

}
.typography{
    h1{
        margin: 0%;
        padding-top: 160px;
    }
    p{
        font-family: 'Rubik';
        font-size: 40px;
        font-weight: 500;
        line-height: 64px;
    }
}
.block-one{
    display: flex;
    width: 100%;
    margin: 0%;
    padding-top: 136px;
    .block-one-inside{
        .m0{
            display: flex;
            width: 95%;
            margin: 0;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            padding-bottom: 40px;
        }
    }
    .block-one-inside-second{
        display: flex;
        height: 80%;
        justify-content: space-around;
        
        .left-block{
            display: flex;
            width: 30%;
            height: 20%;
            justify-content: flex-start;
            flex-direction: column;
            p{
                margin: 0;
                padding-bottom: 24px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }
            span{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                margin: 0;
                padding-bottom:24px
            }
        }
        .center-block{
            display: flex;
            width: 30%;
            justify-content: flex-start;
            
            flex-direction: column;
            p{
                margin: 0;
                padding-bottom: 24px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }
            span{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                margin: 0;
                padding-bottom:24px
            }
            
        }
        .right-block{
            display: flex;
            width: 30%;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            p{
                margin: 0;
                padding-bottom: 24px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }
            span{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                margin: 0;
                padding-bottom:24px
            }
            img{
                margin: 0;
                padding-bottom: 24px;
            }
        }
    }
}
.block-two{
    display: flex;
    width: 100%;
    flex-direction: column;

    .title{
        font-size: 24px;
        margin: 0;
        padding-bottom: 16px;
        // font-weight: 700;
        line-height: 32px;
    }
    .first{
        margin-top: 0;
    }
    .second{
        margin: 0;
        padding-bottom: 40px;
    }
}
.block-two-inside{
    display: flex;
    width: 68%;
    align-items: flex-start;
    justify-content: space-around;
}
.zagolovki{
    display: flex;
    width: 75%;
    
    align-items: flex-start;
    justify-content: space-between;

    .left-title{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
       
        .one-par{
            padding-top: 20px;
            padding-bottom: 104px;
        }
        .two-par{
            padding-top: 15px;
            padding-bottom: 104px;
        }
        .three-par{
            // padding-top: 15px;
            padding-bottom: 90px;
        }
        .four-par{
            // padding-top: 15px;
            padding-bottom: 95px;
            text-align: right;
        }
        .five-par{
            padding-bottom: 90px;
        }
        p{
            display: flex;
            margin: 0;
            text-align: right;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #6B7A99;
        }
    }
    .right-headers{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: black;

        h1{
            margin: 0;
            font-weight: 500;
            font-size: 56px;
            line-height: 64px;
            padding-bottom: 80px;

        }
        h2{
            margin: 0;
            font-weight: 500;
            font-size: 42px;
            line-height: 56px;
            padding-bottom: 80px;

        }
        h3{
            margin: 0;
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            color: black;
            padding-bottom: 80px;
        }
        .h3-2{
            margin: 0;
            font-weight: 400;
            font-size: 32px;
            line-height: 40px;
            color: black;
            padding-bottom: 80px;

        }
        h4{
            margin: 0;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            padding-bottom: 80px;

        }
        .h4-2{
            margin: 0;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px; 
            padding-bottom: 200px;
        }
    }

}
.block-three{
    display: flex;
    width: 100%;
    flex-direction: column;

    h2{
        margin: 0;
        padding-bottom: 16px;
    }
    .three-first{
        margin: 0;
    }
    .style-p{
        
        padding-bottom: 56px;
    }
    .blocks{
        display: flex;
        width: 90%;
        justify-content: space-around;
        .left-blocks{
            display: flex;
            width: 20%;
            align-items: flex-end;
            flex-direction: column;
            
            color: #6B7A99;
            p{
                margin: 0;
            }
            .left-blocks-1{
                padding-top: 40px;
                padding-bottom:90px ;
            }
            .left-blocks-2{
                padding-bottom:100px ;
            }
            .left-blocks-3{
                padding-bottom:100px ;
            }
            .left-blocks-4{
                padding-bottom:90px ;
            }
            .left-blocks-5{
                padding-bottom:65px ;
            }
            .left-blocks-6{
                padding-bottom:60px ;
            }
           
          

            
        }
        .center-blocks{
            display: flex;
            width: 35%;
            flex-direction: column;
            p{
                display: flex;
                width: 80%;
            }
            .center-blocks-1{
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
            }
            .center-blocks-2{
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
            }
            .center-blocks-3{
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
            }
            .center-blocks-4{
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
            }
            .center-blocks-5{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }
            .center-blocks-6{
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }
            .center-blocks-7{
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
            }

        }
        .right-blocks{
            display: flex;
            width: 35%;
            flex-direction: column;
            justify-content: flex-end;

            p{
                display: flex;
                width: 80%;
            }
            .right-blocks-1{
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
            }
            .right-blocks-2{
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
            }
            .right-blocks-3{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }
            .right-blocks-4{
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
            }
            .right-blocks-5{
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

}
.block-four{
    display: flex;
    width: 100%;
    flex-direction: column;
    
    h2{
        margin: 0;
        padding-bottom: 16px;
    }
    .block-four-p{
        margin: 0;
        padding-bottom: 72px; 
    }

    .block-strings{
        display: flex;
        width: 100%;
        // border: 1px solid red;
        flex-direction: column;
        justify-content: flex-start;

        .one-strings{
            display: flex;
            width: 90%;
            justify-content: space-around;
            
         
            .text{
                display: flex;
                flex-direction: column;

                p{
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                    margin: 0;
                    padding-bottom: 16px;
                }
                
                .text-second{
                    p{
                        display: flex;
                        width: 30%;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        padding-bottom: 64px;
                       
                    }
                }
            }

        }
        .two-strings{
            display: flex;
            width: 69%;
            justify-content: space-around;
            
         
            .text{
                display: flex;
                flex-direction: column;
                p{
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                    margin: 0;
                    padding-bottom: 16px;
                }

                .text-second{
                    p{
                        display: flex;
                        width: 55%; 
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        padding-bottom: 64px;
                    }
                }
            }
        }
        .three-strings{
            display: flex;
            width: 99%;
            justify-content: space-around;
            
         
            .text{
                display: flex;
                width: 88%;
                flex-direction: column;
                p{
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                    margin: 0;
                    padding-bottom: 16px;
                }

                .text-second{
                    p{
                        display: flex;
                        width: 65%; 
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        padding-bottom: 64px;
                    }
                }
            }
        }
        .four-strings{
            display: flex;
            width: 95%;
            justify-content: space-around;
            
         
            .text{
                display: flex;
                width: 88%;
                flex-direction: column;
                


                p{
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                    margin: 0;
                    padding-bottom: 16px;
                }
                .text-second{
                    p{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        padding-bottom: 64px;
                    }
                }
               
            }
        }
        .five-strings{
            display: flex;
            width: 95%;
            justify-content: space-around;
            
         
            .text{
                display: flex;
                width: 88%;
                flex-direction: column;

                p{
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                    margin: 0;
                    padding-bottom: 16px;
                }

                
                .text-second{
                    p{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        padding-bottom: 160px;
                    }
                }
            }
        }
    }
}

.block-five{
    display: flex;
    width: 100%;
    flex-direction: column;
    
    h2{
        margin: 0;
        
    }
    .p-h2{
        display: flex;
        flex-direction: column;
        margin: 0%;
        width: 55%;
        p{
            margin: 0%;
        }
    }
    .images{
        display: flex;
        width: 90%;
        padding-top: 40px;
        justify-content: space-around;
        img{
            width: 45%;
            height: 60%;
        }
    }
}
.block-six{
    display: flex;
    width: 100%;
    padding-top: 150px;
    flex-direction: column;
    .block-six-p{
        margin: 0;
        padding-bottom: 40px;
    }

    .sizes-block{
        display: flex;
        width: 99%;
        img{
            width: 100%;
            height: auto;
            padding-bottom: 24px;
        }
    }
}