a{
    text-decoration: none;
}

.menu{
    background-color: #fff;
    width: 25%;
    padding: 24px;
    height: fit-content;
}

.section{
    color: #101828;
    font-weight: 400;
    padding: 24px 0;
    border-top: 1px solid #E1E4EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-menu{
    padding: 0 16px;
}

.show-menu div{
    padding: 24px 0;
}