a{
    text-decoration: none;
}

.menu{
    background-color: #fff;
    width: 25%;
    height: fit-content;
}

.description-menu{ 
    font-weight: 500;
}

.title-menu{
    padding: 24px;
}


.version{
    color: #8691A8;
}

.section{
    color: #101828;
    font-weight: 400;
    padding: 24px;
    border-top: 1px solid #E1E4EB;
    border-bottom: 1px solid #E1E4EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-menu{
    padding: 0 16px;
}

.show-menu div{
    padding: 24px 16px;
}

.icon-down{
    transform: rotate(180deg);
}