
.Modal {
  &__open {
  }

  &Header {
    h2 {
      color: black;
      font-size: 32px;
      font-weight: 500;
    }

    &__start {
    }

    &__center {
    }

    &__end {
    }
  }

  &Content {
    margin-top: 24px;
  }

  &Footer {
    margin-top: 32px;
    display: flex;
    justify-content: flex-end;
  }

  &Default {
    padding: 40px;
    color: #fff;

    &__medium {
      max-width: 600px;
      max-height: 448px;
      width: 100%;
      padding: 32px;
      border-radius: 12px;
    }

    &CloseButton {
      width: 18px;
      height: 18px;
      
      svg {
        fill: #D3D8E6;
        transition: all 0.15s;
      }

      &:hover {
        svg {
          fill: gray;
        }
      }
    }
  }
}

/* ----- Модальное окно по центру адаптировано ----- */
.react-responsive-modal-root .react-responsive-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
