@import "ui-kit/styles";

.Tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.Tab {
    padding: 11px 8px;
    border-bottom: 1px solid #D3D8E6;
    cursor: pointer;
    transition: all 0.15s;
    color: #6B7A99;


    &__selected {
        border: none !important;
        border-bottom: 2px solid #18569E !important;
        background-color: #fff !important;
        color: #18569E;
    }

    &:hover {
        color: #6B7A99;
        border-bottom:2px solid #18569E ;
    }

    &Label {
        color: $color-suit-gray;

        &__selected {
            color: $color-primary;
        }
    }
}

.tabs--normal {
    padding: 11px 8px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    line-height: 20px;

}

.tabs--outlined {
    border: 1px solid #A2A9B8;
    padding: 11px 8px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    line-height: 20px;
}

.tabs--filled {
    background-color: #f5f6fa;
    padding: 11px 8px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    line-height: 20px;
}