.popover-menu{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.popover-menu button{
    padding: 14px 24px;
    background-color: #18569e;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.popover-menu svg{
    margin-left: 11px;
}

.popover{
    position: absolute;
    width: 240px;
    height: 186px;
    box-shadow: 0px 1px 12px rgba(106, 122, 152, 0.12);
    border-radius: 4px;
    padding: 16px 24px;
    margin-top: 60px;
}

.popover-title{
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
    line-height: 20px;
}

.popover-description{
    color: #6B7A99;
    font-size: 14px;
    margin-bottom: 0;
    line-height: 20px;
}

.popover-arrow{
    position: absolute;
    top: -15px;
    right: 45%;
    color: #fff;
    font-size: 25px;
}