@font-face {
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    src: url("./Rubik-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    src: url("./Rubik-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    src: url("./Rubik-Bold.ttf") format("truetype");
  }