
 
.checkbox--small{
    width: 16px;
    height: 16px;
    // background-color: red;
}

.checkbox--small:focus{
    outline: 2px solid #C2DAFF;
    border-radius: 20px;
}
.checkbox-inner::before{
    content: "";
    
}
.checkbox--small[type='checkbox']{
    &:checked{
        +label::before{

            background: black;
        }
    }
}