@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: #5A6774;
}

.header{
    background-color: #ECF0FF;
    padding: 15px;
}

.logo{
    font-weight: 500;
    font-size: 30px;
    color: #18569E;
}